extends ../externals/clientBase


block metaTags
  meta(name="keywords" content=`Eye Client, eyeclient, eyeclient.com, Client Eye, clienteye, index of movies, index of movies 2024, index of TV Series 2024, index of Games 2024, download TV Series for free, download Games for free, download movies for free, free movies download links, free games download links, free TV Series downlaod links, Free Direct Download links, New Movies, Trending Movies, Top Rated Movies`)
  meta(name="description" content=`Download Movies, TV Series and Games on Eye Client for free and fast. Free Direct Download links. Index of Movies. Index of Tv Series. Index of Games`)
  meta(name="subject" content="Providing free download links for Movies, TV Series and Games for all around the world")
  meta(name="copyright" content="eyeclient")
  meta(name="topic" content=`Download Links For Movies, Tv Series & Games`)
  meta(name="summary", content=`Download Movies, Tv Series & Games on EYE client for free and fast. Free direct download links`)
  meta(name="Classification" content="Entertainment")
  meta(name="url" content="https://wwww.eyeclient.com")
  meta(name="identifier-URL" content="https://wwww.eyeclient.com")
  meta(name="pagename" content=`Eye Client | Download Movies, Tv Series & Games: Free Download Links`)
  meta(name="category" content=`media`)
  meta(name="coverage" content="Worldwide")
  meta(name="distribution" content="Global")
  meta(name="rating" content="General")
  meta(name="target" content="all")
  meta(name="HandheldFriendly" content="True")
  meta(name="MobileOptimized" content="320")
  meta(name="pageKey" content=`media Page`)

  meta(name="og:title" content=`Eye Client | Download Movies, Tv Series & Games: Free Download Links`)
  meta(name="og:type" content="media")
  meta(name="og:url" content=`https://wwww.eyeclient.com`)
  meta(name="og:image" content=`/assets/images/eyeclient-flyer.jpg`)
  meta(name="og:image:height" content=`1500`)
  meta(name="og:image:width" content=`1000`)
  meta(name="og:site_name" content="Eye Client")
  meta(name="og:description" content=`Download Movies, TV Series and Games on Eye Client for free and fast. Free Direct Download links. Index of Movies. Index of Tv Series. Index of Games`)
  //- meta(name="og:country-name" content=`${media.country}`)

  meta(name="twitter:title" content=`Eye Client | Download Movies, Tv Series & Games: Free Download Links`)
  meta(name="twitter:description" content=`Download Movies, TV Series and Games on Eye Client for free and fast. Free Direct Download links. Index of Movies. Index of Tv Series. Index of Games`)
  meta(name="twitter:image" content=`/assets/images/eyeclient-flyer.jpg`)
  meta(name="twitter:image:alt" content=`Eye Client | Find any media`)
  meta(name="twitter:card" content=`summery_large_image`)
  meta(name="twitter:site" content=`@eyeclient`)
  //- meta(name="twitter:creator" content=`@eyeclient`)
  
  //- meta(name="imdb:pageType" content=`title`)
  //- meta(name="imdb:subPageType" content=`main`)
  //- meta(name="imdb:pageConst" content=`${media.imdbId||''}`)

block content
  include ../externals/cards

  - const textString = ext.page !== 'home' ? ext.textString: ''
  nav.nav(style="margin-top: 2rem")
    a.tag(href="/media") All Media
    a.tag(href="/explore/movies") Movies
    a.tag(href="/explore/series") Tv Series
    a.tag(href="/explore/games") Games
    a.tag(href="/explore/collections") Collections
    span.tag.tag-empty Filters
    a.tag(href=`/media?search=korea${textString}`) Korean
    a.tag(href=`/media?search=african${textString}`) African
    a.tag(href=`/media?search=indian${textString}`) Indian
    a.tag(href=`/media?search=hollywood${textString}`) Hollywood
    a.tag(href=`/media?search=anime${textString}`) Anime
    a.tag(href=`/media?search=animation${textString}`) Animation
    a.tag(href=`/media?search=comedy${textString}`) Comedy
    a.tag(href=`/media?search=sci-fi${textString}`) Sci-Fi
    a.tag(href=`/media?search=adventure${textString}`) Adventure
    a.tag(href=`/media?search=action${textString}`) Action
    a.tag(href=`/media?search=romance${textString}`) Romance
    a.tag(href=`/media?search=thriller${textString}`) Thriller
    a.tag(href=`/media?search=horror${textString}`) Horror
    a.tag(href=`/media?search=drama${textString}`) Drama
    a.tag(href=`/media?search=crime${textString}`) Crime
    a.tag(href=`/media?search=war${textString}`) War
    a.tag(href=`/media?search=reality tv${textString}`) Reality Tv
    a.tag(href=`/media?search=netflix${textString}`) Neflix
    a.tag(href=`/media?search=prime video${textString}`) Prime Video
    a.tag(href=`/media?search=apple${textString}`) Apple Tv
  //  START OF A SLIDER 
  
  #sliders-container
    section.slider
      h3.slider__heading Media Heading
      //   
      .slider__container
        .slider__button.slider__button--left.slider-arrow.d-left
          i.fas.fa-angle-left.slider-arrow.d-left
        .slider__content
          //- .slider__content-slide(style='border: 1px solid salmon;')
          - let a = 0
          while a < 15
            +mediaCardP
            - a++
        .slider__button.slider__button--right.slider-arrow.d-right
          i.fas.fa-angle-right.slider-arrow.d-right
      //   
    //  END OF A SLIDER 


    //  START OF A SLIDER 
    section.slider
      h3.slider__heading Media Heading
      //   
      .slider__container
        .slider__button.slider__button--left
          i.fas.fa-angle-left
        .slider__content
          - let b = 0
          while b < 15
            +mediaCardP
            - b++
        .slider__button.slider__button--right
          i.fas.fa-angle-right
      //   
    //  END OF A SLIDER 


    //  START OF A SLIDER 
    section.slider
      h3.slider__heading Media Heading
      //   
      .slider__container
        .slider__button.slider__button--left
          i.fas.fa-angle-left
        .slider__content
          - let c = 0
          while c < 15
            +mediaCardP
            - c++
            
        .slider__button.slider__button--right
          i.fas.fa-angle-right
      //   
    //  END OF A SLIDER 



    //  START OF A SLIDER 
    section.slider
      h3.slider__heading Media Heading
      //   
      .slider__container
        .slider__button.slider__button--left
          i.fas.fa-angle-left
        .slider__content
          - let d = 0
          while d < 15
            +mediaCardP
            - d++
        .slider__button.slider__button--right
          i.fas.fa-angle-right
      //   
    //  END OF A SLIDER 



    //  START OF A SLIDER 
    section.slider
      h3.slider__heading Media Heading
      //   
      .slider__container
        .slider__button.slider__button--left
          i.fas.fa-angle-left
        .slider__content
          - let e = 0
          while e < 15
            +mediaCardP
            - e++
              
        .slider__button.slider__button--right
          i.fas.fa-angle-right
      //   
    //  END OF A SLIDER 


    //  START OF A SLIDER 
    section.slider
      h3.slider__heading Media Heading
      //   
      .slider__container
        .slider__button.slider__button--left
          i.fas.fa-angle-left
        .slider__content
          - let f = 0
          while f < 15
            +mediaCardP
            - f++
            
        .slider__button.slider__button--right
          i.fas.fa-angle-right
      //   
    //  END OF A SLIDER 


    //  START OF A SLIDER 
    section.slider
      h3.slider__heading Media Heading
      //   
      .slider__container
        .slider__button.slider__button--left
          i.fas.fa-angle-left
        .slider__content
          - let g = 0
          while g < 15
            +mediaCardP
            - g++
        .slider__button.slider__button--right
          i.fas.fa-angle-right
      //   
    //  END OF A SLIDER 


    //  START OF A SLIDER 
    section.slider
      h3.slider__heading Media Heading
      //   
      .slider__container
        .slider__button.slider__button--left
          i.fas.fa-angle-left
        .slider__content
          - let h = 0
          while h < 15
            +mediaCardP
            - h++
    
        .slider__button.slider__button--right
          i.fas.fa-angle-right
      //   
    //  END OF A SLIDER 
    //  START OF A SLIDER 
    section.slider
      h3.slider__heading Media Heading
      //   
      .slider__container
        .slider__button.slider__button--left
          i.fas.fa-angle-left
        .slider__content
          - let i = 0
          while i < 15
            +mediaCardP
            - i++
    
        .slider__button.slider__button--right
          i.fas.fa-angle-right
      //   
    //  END OF A SLIDER 
    //  START OF A SLIDER 
    section.slider
      h3.slider__heading Media Heading
      //   
      .slider__container
        .slider__button.slider__button--left
          i.fas.fa-angle-left
        .slider__content
          - let j = 0
          while j < 15
            +mediaCardP
            - j++
    
        .slider__button.slider__button--right
          i.fas.fa-angle-right
      //   
    //  END OF A SLIDER 

block script 
  //- script.
    const search = document.getElementById('search-input');
    
      search.addEventListener('focus', () => {
        if (window.innerWidth > 600) return;
        search.parentElement.previousElementSibling.style.display = 'none';
        search.parentElement.nextElementSibling.style.display = 'none';
      });
    
      search.addEventListener('blur', () => {
        if (window.innerWidth > 600) return;
        search.parentElement.previousElementSibling.style.display = 'initial';
        search.parentElement.nextElementSibling.style.display = 'initial';
      });
    