<!DOCTYPE html>
html 
  head 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/assets/fontawesome/css/all.min.css")
    link(rel="stylesheet", href="/styles/css/form.css")
    title 🍿Eye Client - Dashboard | #{ext.title || ''}

  body 
    include ../externals/functions
    include ../externals/cards

    section.form.form-9
      h3.form__heading #{game ? 'Update' : 'New'} Movie
      .center-element.marbin-b4(style='font-size: 1.6rem;')
        p= movie && movie.title || ''
      form#form-movie
        .form-group
          label.label-basic(for="imdb-id") IMDB Id
          input#imdb-id.input-basic(type="text", name="imdb-id", placeholder="IMDB Id" value=`${movie && movie.imdbId || ''}`)
        .form-group
          label.label-basic(for="type") Media Type
          input#type.input-basic(type="email", name="type", placeholder="Media Type" value='movie' disabled required)
        .form-group
          label.label-basic(for="title") Movie Title
          input#title.input-basic(type="text", name="title", placeholder="Movie Title" value=`${movie && movie.title || ''}` required)
        .form-group
          label.label-basic(for="year") Year
          input#year.input-basic(type="text", name="year", placeholder="Year" value=`${movie && movie.year || ''}`)
        .form-group
          label.label-basic(for="rated") Rated
          input#rated.input-basic(type="text", name="rated", placeholder="Rated" value=`${movie && movie.rated || ''}`)
        .form-group
          label.label-basic(for="released") released
          input#released.input-basic(type="date", name="released", placeholder="Released" value=`${movie && unmergeDate(movie.released).date   || ''}` required)
        .form-group
          label.label-basic(for="genre") genre
          input#genre.input-basic(type="text", name="genre", placeholder="Genre" value=`${movie && movie.genre || ''}`)
        .form-group
          label.label-basic(for="directors") directors
          input#directors.input-basic(type="text", name="directors", placeholder="Directors" value=`${movie && movie.directors || ''}`)
        .form-group
          label.label-basic(for="writers") writers
          input#writers.input-basic(type="text", name="writers", placeholder="Writers" value=`${movie && movie.writers || ''}`)
        .form-group
          label.label-basic(for="actors") actors
          input#actors.input-basic(type="text", name="actors", placeholder="Actors" value=`${movie && movie.actors || ''}`)
        .form-group
          label.label-basic(for="plot") plot
          textarea#plot.textarea-basic(type="text", name="plot", placeholder="Plot" required)= movie && movie.plot || '' 
        .form-group
          label.label-basic(for="poster") poster
          input#poster.input-basic(type="text", name="poster", placeholder="Poster" value=`${movie && movie.poster || ''}` required)
        .form-group
          label.label-basic(for="language") language
          input#language.input-basic(type="text", name="language", placeholder="Language" value=`${movie && movie.language || ''}`)
        .form-group
          label.label-basic(for="country") country
          input#country.input-basic(type="text", name="country", placeholder="country" value=`${movie && movie.country || ''}`)
        .form-group
          label.label-basic(for="runtime") runtime
          input#runtime.input-basic(type="text", name="runtime", placeholder="runtime" value=`${movie && movie.runtime || ''}`)
        .form-group
          label.label-basic(for="imdb-rating") IMDB Rating
          input#imdb-rating.input-basic(type="text", name="imdb-rating", placeholder="IMDB Rating" value=`${movie && movie.imdbRating || ''}`)
        .form-group
          label.label-basic(for="keywords") keywords
          input#keywords.input-basic(type="text", name="keywords", placeholder="keywords" value=`${movie && movie.keywords || ''}`)
        
        if(movie)
          .margin-t2.btn-double
            button.btn.btn-primary-alt#soft-update(type='button') Soft Update
            button.btn.btn-primary#update-movie Hard Update
        if(!movie)
          .margin-t2.btn-center
            button.btn.btn-primary#add-movie Save Movie
    
    if(movie)
      .btn-center(style="margin-top: 12rem")
        button.btn.btn-secondary#new-link Add New Link
        //- button.btn.btn-secondary-alt Add New Link
      
      section.links#cards-container
        each link in movie.Links
          - const ext = link.resolution < 1000 && link.resolution > 10 ? 'p' : '';
          //- - const redirect = `/executive/season/${link.id}`
          +dlinkCard(link, undefined, ext)
      
      section.popup#link-popup.display-off
        .popup__container.form-7
          .popup__heading
            span
            h3 Add / Update Movie Link
            i.fas.fa-times.close-popup
            
          .popup__content
            form#form-link
              .form-group
                label.label-basic(for="resolution") resolution
                select.select-basic#resolution
                  option(value="480") 480
                  option(value="720") 720
                  option(value="720x265") 720x265
                  option(value="1080") 1080
                  option(value="1080x265") 1080x265
                  option(value="2160") 2160
                  option(value="hdcam") hdcam
                  option(value="other") other
              .form-group#group-other.display-off
                label.label-basic(for="link-name-other") link name other
                input#other-name.input-basic(type="text", name="link-name-other", placeholder="link name Other")
              .form-group
                label.label-basic(for="link") link
                input#link.input-basic(type="text", name="link", placeholder="link")
              
              .btn-center.display-off
                button.btn.btn-primary-alt#btn-link save

          .popup__bottom
            .btn-center
              button.btn.btn-primary.btn-full#btn-link-alt save

  script(src=`/javascript/${ext.js}.js`)
  //- script.
    //- function fullOpenPopup (elementid, popupid, afterclose, beforeopen){
    //-   const elem = document.getElementById(elementid)
    //-   const popup = document.getElementById(popupid)

    //-   elem.addEventListener('click', (e)=>{
    //-     if(beforeopen) beforeopen()
    //-     popup.classList.toggle('display-off')
    //-   })

    //-   popup.addEventListener('click', (ev)=>{
    //-     if(!ev.target.classList.contains('close-popup')) return 
    //-     popup.classList.toggle('display-off')
    //-     if(afterclose) afterclose()
    //-   })
    //- }

    //- fullOpenPopup('new-link', 'link-popup')

    