<!DOCTYPE html>
html 
  head 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/assets/fontawesome/css/all.min.css")
    link(rel="stylesheet", href=`/styles/css/${ext.css}.css`)
    link(rel="shortcut icon", href="/assets/images/eyeclient-favicon.png", type="image/x-icon")
    title Eye Client | #{ext.title || ''}

    block metaTags


    //  Google Tag Manager 
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-WF5F2R69');
    //  End Google Tag Manager 

  body(data-page=`${ext.page}`)
    //  Google Tag Manager (noscript) 
    noscript <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WF5F2R69" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    //  End Google Tag Manager (noscript) 
    
    include header

    block content

    include footer

  block script
  script(src=`/javascript/${ext.js}.js`) 